<a href="https://colab.research.google.com/github/Tanu-N-Prabhu/Python/blob/master/Rendering_Images_inside_a_Pandas_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Rendering Images inside a Pandas DataFrame**

## **Ever thought about rendering images inside a dataframe? I’m glad you did!**



![alt text](https://miro.medium.com/max/1400/1*Kewz0xLvwocuc8INzphzmA.jpeg)


I can see the ***question mark (?)*** on most of your faces. Because even I had one before discovering that we can also render images inside a dataframe. And believe me, it’s simple and easy, all you need to know is to ***create a dataframe and I’ll pick you up from there***.

---

# **Steps to be followed**


1.   Import two necessary libraries such as `pandas` and `HTML`.

2.  Create a pandas dataframe of your choice and store it in the variable `df`.

3.  Create a list called `country` and then store all the paths of the images that you want to render.

4.  Assign the `country` list to the existing dataframe `df`. This would be appended as a new column to the existing dataframe.

5.  Write a function that will convert the given path of the images to the HTML tag.

6.  Render the dataframe as an HTML table, and then call the HTML method to display the rendered images.

---

# **Bonus**

![alt text](https://si.wsj.net/public/resources/images/BN-LJ639_1123hj_H_20151120160634.jpg)

Also, I will show you guys “***Saving the dataframe as an HTML page***” more like a webpage.


---

# **Code**

Follow the above steps 1–6 to successfully render the images inside a dataframe. I will also be repeating the steps here too. You don’t have to scroll up to read every time.

**Import two necessary libraries such as `pandas` and `HTML`.**


The reason for importing `pandas` library is for creating and storing the data in a dataframe. Similarly, `HTML` library is used to render the image (HTML tags) inside a dataframe.

In [ ]:
# Importing the necessary libraries
import pandas as pd
from IPython.core.display import HTML



> **There is no need to manually install using `pip` command, just importing it will serve the purpose**

---

**Create a pandas dataframe of your choice and store it in the variable `df`.**


This step is straightforward because almost everyone knows how to create a dataframe. If not, then don’t forget to go through this [article here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html). I will create the dataframe by taking the COVID19 data from [worldometers.info](https://www.worldometers.info/coronavirus/). Keep in mind this data changes every hour. I’ll be making five different columns such as `Total Cases`, `Total Deaths`, `Total Recovered`, `Total Tests`, `Population`. For the rows, I will choose `USA`, `Brazil`, `Russia`, `India`, `Peru`.

In [ ]:
# Create a dataframe using pandas library
df = pd.DataFrame([[2768571, 130655, 1155027, 34713051, 331002277],        
                   [1448753, 60632, 790040, 3070447, 212558178],
                   [654405, 9536, 422931, 19852167, 145934619],
                   [605216, 17848, 359891, 8826585, 1379974505],
                   [288477, 9860, 178245, 1699369, 32969875]],
                   columns = ['Total Cases', 'Total Deaths', 'Total Recovered', 'Total Tests', 'Population'])
df

   Total Cases  Total Deaths  Total Recovered  Total Tests  Population
0      2768571        130655          1155027     34713051   331002277
1      1448753         60632           790040      3070447   212558178
2       654405          9536           422931     19852167   145934619
3       605216         17848           359891      8826585  1379974505
4       288477          9860           178245      1699369    32969875



---

**Create a list called `country` and then store all the paths of the images (flags) that you want to render.**

This step is obvious, for consistency we will create a list that has all the country flag paths of the countries listed above. The country flag source can be found [here](https://www.countries-ofthe-world.com/).

In [ ]:
# Create a list named country to store all the image paths
country = [
'https://www.countries-ofthe-world.com/flags-normal/flag-of-United-States-of-America.png',
'https://www.countries-ofthe-world.com/flags-normal/flag-of-Brazil.png',
'https://www.countries-ofthe-world.com/flags-normal/flag-of-Russia.png',
'https://www.countries-ofthe-world.com/flags-normal/flag-of-India.png',
'https://www.countries-ofthe-world.com/flags-normal/flag-of-Peru.png'
]

country

['https://www.countries-ofthe-world.com/flags-normal/flag-of-United-States-of-America.png',
 'https://www.countries-ofthe-world.com/flags-normal/flag-of-Brazil.png',
 'https://www.countries-ofthe-world.com/flags-normal/flag-of-Russia.png',
 'https://www.countries-ofthe-world.com/flags-normal/flag-of-India.png',
 'https://www.countries-ofthe-world.com/flags-normal/flag-of-Peru.png']



---

**Assign the `country` list to the existing dataframe `df`. This would be appended as a new column to the existing dataframe.**


This is one of the simplest steps because you need to ***literally*** assign the list named `country` to the dataframe’s new column named `Country`.

In [ ]:
# Assigning the new list as a new column of the dataframe
df['Country'] = country

By doing so when you print the dataframe `df`. You will get the below as the result.

In [ ]:
df

   Total Cases  ...                                            Country
0      2768571  ...  https://www.countries-ofthe-world.com/flags-no...
1      1448753  ...  https://www.countries-ofthe-world.com/flags-no...
2       654405  ...  https://www.countries-ofthe-world.com/flags-no...
3       605216  ...  https://www.countries-ofthe-world.com/flags-no...
4       288477  ...  https://www.countries-ofthe-world.com/flags-no...

[5 rows x 6 columns]

**Write a function that will convert the given path of the images (links) to the HTML tag**

Here you need to write a function that will convert the links to tags, as you saw in the previous result (Dataframe), the Country columns have all the links, so this step is necessary.

In [ ]:
# Converting links to html tags
def path_to_image_html(path):
    return '<img src="'+ path + '" width="60" >'

The return type of the function is the traditional `img` tag, that we use to render images on a webpage. If you don’t know what I’m talking about see [this](https://www.w3schools.com/tags/tag_img.asp). The reason for doing this is that if all the paths are converted into image tags, then at the end with the help of a built-in HTML method all this will be rendered as images.


---

**Render the dataframe as an HTML table, and then call the HTML method to display the rendered images**


We will use the `to_html` method to convert the dataframe into an HTML table. There are some parameters that we need to play with first the `escape = False`, escapes the HTML tags, we need to call the `path_to_image_html` method, convert it into a dictionary, and assign it to the formatters built-in variable. To know more about this method, please visit [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_html.html).

In [ ]:
# Rendering the dataframe as HTML table
df.to_html(escape=False, formatters=dict(Country=path_to_image_html))

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Total Cases</th>\n      <th>Total Deaths</th>\n      <th>Total Recovered</th>\n      <th>Total Tests</th>\n      <th>Population</th>\n      <th>Country</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>2768571</td>\n      <td>130655</td>\n      <td>1155027</td>\n      <td>34713051</td>\n      <td>331002277</td>\n      <td><img src="https://www.countries-ofthe-world.com/flags-normal/flag-of-United-States-of-America.png" width="60" ></td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>1448753</td>\n      <td>60632</td>\n      <td>790040</td>\n      <td>3070447</td>\n      <td>212558178</td>\n      <td><img src="https://www.countries-ofthe-world.com/flags-normal/flag-of-Brazil.png" width="60" ></td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>654405</td>\n      <td>9536</td>\n      <td>422931</td>\n      <td>19852167</td>\n      <td>145934619</td>\n      <td><img src="https://www.countries-ofthe-world.com/flags-normal/flag-of-Russia.png" width="60" ></td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>605216</td>\n      <td>17848</td>\n      <td>359891</td>\n      <td>8826585</td>\n      <td>1379974505</td>\n      <td><img src="https://www.countries-ofthe-world.com/flags-normal/flag-of-India.png" width="60" ></td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>288477</td>\n      <td>9860</td>\n      <td>178245</td>\n      <td>1699369</td>\n      <td>32969875</td>\n      <td><img src="https://www.countries-ofthe-world.com/flags-normal/flag-of-Peru.png" width="60" ></td>\n    </tr>\n  </tbody>\n</table>'

By executing this you will get the result as an HTML table that looks familiar to you. I will provide only the first table row snapshot below:

In [ ]:
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Total Cases</th>
      <th>Total Deaths</th>
      <th>Total Recovered</th>
      <th>Total Tests</th>
      <th>Population</th>
      <th>Country</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2768571</td>
      <td>130655</td>
      <td>1155027</td>
      <td>34713051</td>
      <td>331002277</td>
      <td><img src="https://www.countries-ofthe-world.com/flags-normal/flag-of-United-States-of-America.png" width="60" ></td>
    </tr>
    <tr>
      <th>1</th>
      <td>1448753</td>
      <td>60632</td>
      <td>790040</td>
      <td>3070447</td>
      <td>212558178</td>
      <td><img src="https://www.countries-ofthe-world.com/flags-normal/flag-of-Brazil.png" width="60" ></td>
    </tr>
    <tr>
      <th>2</th>
      <td>654405</td>
      <td>9536</td>
      <td>422931</td>
      <td>19852167</td>
      <td>145934619</td>
      <td><img src="https://www.countries-ofthe-world.com/flags-normal/flag-of-Russia.png" width="60" ></td>
    </tr>
    <tr>
      <th>3</th>
      <td>605216</td>
      <td>17848</td>
      <td>359891</td>
      <td>8826585</td>
      <td>1379974505</td>
      <td><img src="https://www.countries-ofthe-world.com/flags-normal/flag-of-India.png" width="60" ></td>
    </tr>
    <tr>
      <th>4</th>
      <td>288477</td>
      <td>9860</td>
      <td>178245</td>
      <td>1699369</td>
      <td>32969875</td>
      <td><img src="https://www.countries-ofthe-world.com/flags-normal/flag-of-Peru.png" width="60" ></td>
    </tr>
  </tbody>
</table>

And the last thing to do is to call the built-in `HTML` method and pass the whole dataframe as the parameter.

In [ ]:
# Rendering the images in the dataframe using the HTML method.
HTML(df.to_html(escape=False,formatters=dict(Country=path_to_image_html)))

---

# **Bonus**

As I promised, I will show you guys how to ***save the dataframe as an HTML page***. This would be often helpful when you want to send immense dataframes with images to your boss or whoever.

In [ ]:
# Saving the dataframe as a webpage
df.to_html('webpage.html',escape=False, formatters=dict(Country=path_to_image_html))

As seen above you only need to provide the path to save the webpage, since I am using my Google Colab, it will be saved in my notebook environment, on opening it you will the below-shown result.


![alt text](https://miro.medium.com/max/1400/1*Q9peI8Gx9S8ewpfP6xx5Cw.png)


---

# **Full Code**


The full code of this tutorial can be found below:

In [ ]:
# Importing the necessary libraries
import pandas as pd
from IPython.core.display import HTML
# Create a dataframe using pandas library
df = pd.DataFrame([[2768571, 130655, 1155027, 34713051, 331002277],
[1448753, 60632, 790040, 3070447, 212558178],[654405, 9536, 422931, 19852167, 145934619],[605216, 17848, 359891, 8826585, 1379974505],[288477, 9860, 178245, 1699369, 32969875]], columns = ['Total Cases', 'Total Deaths', 'Total Recovered', 'Total Tests', 'Population'])
# Create a list named country to store all the image paths
country = ['https://www.countries-ofthe-world.com/flags-normal/flag-of-United-States-of-America.png','https://www.countries-ofthe-world.com/flags-normal/flag-of-Brazil.png','https://www.countries-ofthe-world.com/flags-normal/flag-of-Russia.png','https://www.countries-ofthe-world.com/flags-normal/flag-of-India.png','https://www.countries-ofthe-world.com/flags-normal/flag-of-Peru.png']
# Assigning the new list as a new column of the dataframe
df['Country'] = country
# Converting links to html tags
def path_to_image_html(path):
    return '<img src="'+ path + '" width="60" >'
# Rendering the dataframe as HTML table
df.to_html(escape=False, formatters=dict(Country=path_to_image_html))
# Rendering the images in the dataframe using the HTML method.
HTML(df.to_html(escape=False,formatters=dict(Country=path_to_image_html)))
# Saving the dataframe as a webpage
df.to_html('webpage.html',escape=False, formatters=dict(Country=path_to_image_html))

The main inspiration for writing this article was because of this forum on [stack overflow](https://stackoverflow.com/questions/53468558/adding-image-to-pandas-dataframe). Special thanks to [Chitown88](https://stackoverflow.com/users/7752296/chitown88).



Thank you guys that’s it for this tutorial, I hope you guys learned something new today. If you guys have any comments or concerns about the code, then use the comments section wisely. Stay tuned for more updates, until then goodbye. Stay safe and happy coding!

---