<a href="https://colab.research.google.com/github/Tanu-N-Prabhu/Python/blob/master/Quiz/Python_Quiz_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Basics - Quiz-2**

## **Use this to enhance to your python skill**

### **1) What is the output of the below code**
1. p
2. r
3. o
4. None of the above

In [ ]:
'''
Program:     1
Description: Finding the minimum string value
             This can be done using the min() along with a value
Author:      Tanu Nanda Prabhu
'''

# Calling the mini() function by passing the string value
minimum = min("programming")
print(minimum)

### **2) What is the output of the below code**
1. p
2. y
3. t
4. None of the above

In [ ]:
'''
Program:     2
Description: Finding the maximum string value
             This can be done using the max() along with a value
Author:      Tanu Nanda Prabhu
'''

# Calling the max() function by passing the string value
maximum = max("python")
print(maximum)

### **3) What is the output of the below code**
1. Success
2. Failure
3. Invalid Syntax
4. None of the above

In [ ]:
'''
Program:     3
Description: Playing with '+' and increment operators in Python
Author:      Tanu Nanda Prabhu
'''

a = 7
a1 = a + 1
a2 = a++

if a1 == a2:
    print("Success")
else:
    print("Failure")

### **4) What is the output of the below code**
1. Success
2. Failure
3. Invalid Syntax
4. None of the above

In [ ]:
'''
Program:     4
Description: Playing with increment and decrement operators in Python
Author:      Tanu Nanda Prabhu
'''

a = 7
a1 = 0
a2 = 0
a1 += 1
a2 -= 1

if a1 == a2:
    print("Success")
else:
    print("Failure")

### **5) What is the output of the below code**
1. a a a
2. a1 a2 a3
3. 1 2 3
4. None of the above

In [ ]:
'''
Program:     5
Description: Performing list operations
            
Author:      Tanu Nanda Prabhu
'''

l = {'a1':"1", 'a2': "2", 'a3':"3"}
for x, y in l:
    print(x[0], end = " ")



---



### **6) What is the output of the below code**
1. a a a
2. a1 a2 a3
3. 1 2 3
4. None of the above

In [ ]:
'''
Program:     6
Description: Performing list operations
            
Author:      Tanu Nanda Prabhu
'''

l = {'a1':"1", 'a2': "2", 'a3':"3"}
for x in l:
    print(x[1], end = " ")




---



### **7) What is the output of the below code**
1. a a a
2. a1 a2 a3
3. 1 2 3
4. None of the above

In [ ]:
'''
Program:     7
Description: Performing list operations
            
Author:      Tanu Nanda Prabhu
'''

l = {'a1':"1", 'a2': "2", 'a3':"3"}
for x in l:
    print(x, end = " ")

---

### **8) What is the output of the below code**
1. e
2. The
3. T
4. Invalid Index

In [ ]:
'''
Program:     8
Description: Performing list operations using index
            
Author:      Tanu Nanda Prabhu
'''

l = ["Every", 1, "Can't", "Be", "The", "Best", 1]
print(l[4][2])



---

### **9) What is the output of the below code**
1. 9
2. 9.0
3. 8.9
4. Invalid Syntax

In [ ]:
'''
Program:     9
Description: Performing quick mathematics using Python
            
Author:      Tanu Nanda Prabhu
'''

value = 6/2*(1+2)
print(value)



---

### **10) What is the output of the below code**
1. 7
2. 7.0
3. 6
.9
4. Invalid Syntax

In [ ]:
'''
Program:     10
Description: Performing quick mathematics using eval
            
Author:      Tanu Nanda Prabhu
'''

value = ('1 + 3 * 2')
print(eval(value))



---