<a href="https://colab.research.google.com/github/Tanu-N-Prabhu/Python/blob/master/Quiz/Python_Quiz_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Basics - Quiz-3**

## **Use this to enhance to your python skill**

### **1) What is the output of the below code**
1. 2019
2. 39
3. 20 19
4. None of the above

In [ ]:
'''
Program:     1
Description: Playing with strings using "+"
Author:      Tanu Nanda Prabhu
'''

value = 20
value2 = 19

result = int('%d%d' % (value, value2))
print(result)

### **2) What is the output of the below code**
1. 2020
2. 40
3. 20 20
4. None of the above

In [ ]:
'''
Program:     2
Description: Playing with strings using "+"
Author:      Tanu Nanda Prabhu
'''

value = '20'
value2 = '20'

result = (int(value) + int(value2))
print(result)

### **3) What is the output of the below code**
1. 65
2. 97
3. Invalid Syntax
4. None of the above

In [ ]:
'''
Program:     3
Description: Playing with characters
Author:      Tanu Nanda Prabhu
'''

char = 'A'
print(ord(char))

### **4) What is the output of the below code**
1. abc1abc2abc3
2. 1abc2abc3
3. Invalid Syntax
4. None of the above

In [ ]:
'''
Program:     4
Description: Playing with join method
Author:      Tanu Nanda Prabhu
'''

s1 = 'abc'
s2 = '123'
print(s1.join(s2))

### **5) What is the output of the below code**
1. True
2. False
3. Invalid Syntax
4. None of the above

In [ ]:
'''
Program:     5
Author:      Tanu Nanda Prabhu
'''

str1, str2 = "Python", "Python"

print("id of str1 is: ", id(str1))
print("id of str2 is: ", id(str2))

if id(str1) == id(str2):
    print("True")
else:
    print("False")



---


### **6) What is the output of the below code**
1. `<class 'set'>`
2. `<'set'>`
3. `set`
4. None of the above

In [ ]:
'''
Program:     6
Author:      Tanu Nanda Prabhu
'''

val = set()
print(type(val))



---


### **7) What is the output of the below code**
1. [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
2. [7, 9, 11, 13, 15]
3. Lists cannot be added
4. None of the above

In [ ]:
'''
Program:     7
Author:      Tanu Nanda Prabhu
'''

# Playing with Lists in Python

lis = [1, 2, 3, 4, 5]
lis2 = [6, 7, 8, 9, 10]

print(lis+lis2)



---


### **8) What is the output of the below code**
1. True
2. False
3. Invalid Syntax
4. None of the above

In [ ]:
'''
Program:     8
Description: Using str.lower() method
Author:      Tanu Nanda Prabhu
'''

str1 = "pythoN"
str2 = str1.lower()
print(str1 == str2)






---


### **9) What is the output of the below code**
1. `['P', 'y', 't', 'h', 'o', 'n'] <class 'list'>`
2. `['P', 'y', 't', 'h', 'o', 'n'] <class 'str'>`
3. `Python <class 'str'>`
4. `Python <class 'list'>`

In [ ]:
'''
Program:     9
Description: Typecasting the variable
Author:      Tanu Nanda Prabhu
'''

val = "Python"

result = ''.join(list(val))
print(result, type(result))

---

### **10) What is the output of the below code**
1. 3
2. 6
3. 0
4. `Invalid Syntax - Index Can't be Multiplied`

In [ ]:
'''
Program:     10
Description: List index method
Author:      Tanu Nanda Prabhu
'''

lis = ['Python', 'Programming', 'Rocks'] 
pos = lis.index("Rocks") 
print(pos * 3)



---